

.joinForm{
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.label{
  margin-top: 1em;
  font-weight: bold;
}



.label2{
  margin-top: 2em;
  font-weight: bold;

}

.form{
  width: 500px;
}

.h1{
  text-align: center;
}

.wjj{
  margin: 3em;
  border-radius: 15px;
  height: auto;

}

.wjj p {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center Button{
  width: 300px;
}
.btn_center{
  
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.btn_center Button{
  width: 400px;
}

.input_box{
  border: 1px solid gray;
  border-radius: none;
}

.nav-item {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover{color: lightgray;}


.nav-bar h2{
  font-family:var(--font-googleFran); 
  color: black;
  cursor: pointer;
}

.nav-bar h2:hover{
  color: lightgray;
}

.drop_down{
  margin-right: 70px;
}

.border_line{
  border: 1px solid black;
}


.Info_box{
  display:flex;
}

.Info_box Button{
}

.pwp{
  font-size: 20px;
}

.btn2{
  margin-left: 100px;
}
.btn3{
  margin-left: 115px;
}